name: CI

on:
  push:
  workflow_dispatch:

permissions:
  id-token: write

jobs:
  ci:
    name: ci
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: volta-cli/action@v4
      - run: echo "::remove-matcher owner=tsc::"
      - run: echo "::remove-matcher owner=eslint-compact::"
      - run: echo "::remove-matcher owner=eslint-stylish::"
      - run: node --version
      - run: npm --version
      - run: yarn --version
      - run: yarn install --immutable
      - run: yarn lint
      - run: yarn test
      - run: yarn build
      - if: startsWith(github.ref, 'refs/tags/')
        name: set package.json version by tag
        run: npm version --allow-same-version --no-commit-hooks --no-git-tag-version from-git
      - if: startsWith(github.ref, 'refs/tags/')
        run: npm publish
